header{
			text-align:center;
			padding: 2em 0;
			background: #62A9E0;
			margin-bottom: 2em;
		

		}
		header h1{
			font-size:3em;
			color: #fff;
			letter-spacing:2px;
			font-family: 'Lobster', cursive;
		}
		h2{
			text-align:center;
		}
		header h1 a, header h1 a:hover{
			color: #fff;
			text-decoration:none;

		}

		.col-sm-12{
			width: 50%;
		}

		.ownerinfo, .petinfo{
			margin: 0 auto;
			display: block;
		}
		
		.error{
			color:red;
			font-size: 12px;
		}